.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;

  .welcome-text {
    font-size: 14px;
    color: #343a40;

    h4 {
        display: inline;
    }
  }

  .logout-button {
    color: #007bff;
  }
}
